.my-custom-div {
  background-color: rgba(40, 39, 109, 0.699);
}

.my-custom-button {
    background-color: "firebrick";
    color: "darkseagreen";
    font-family: "Arial";
}

.my-custom-paragraph {
  color: "lightskyblue"
}